<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinqiu.zombieattack.view.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name" >
        <activity android:name=".MainMenu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HighScoresMenu" >
        </activity>
        <activity android:name=".TutorialMenu" >
        </activity>
        <activity android:name=".CreditMenu" >
        </activity>
        <activity android:name=".GamePlay" >
        </activity>
        <activity
            android:name=".PauseMenu"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".WinMenu"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".LoseMenu"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
    </application>

</manifest>